USE [master]
GO
/****** Object:  Database [spa clase]    Script Date: 03/02/2022 17:55:32 ******/
CREATE DATABASE [spa clase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'spa clase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\spa clase.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'spa clase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\spa clase_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [spa clase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [spa clase]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 03/02/2022 17:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id_Categoria] [int] NOT NULL,
	[Nom_Cat] [varchar](50) NULL,
	[Descripcion_cat] [varchar](250) NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 03/02/2022 17:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_clien] [varchar](50) NULL,
	[Apellido_clien] [varchar](50) NULL,
	[Num_doc] [varchar](11) NULL,
	[Direccion_cliente] [varchar](50) NULL,
	[E-mail_clien] [varchar](50) NULL,
	[Tel_Clien] [varchar](9) NULL,
	[Estado_Civil] [nchar](10) NULL,
	[edad] [int] NULL,
	[Sexo] [nchar](1) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Comprobante]    Script Date: 03/02/2022 17:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comprobante](
	[Id_comprobante] [int] NOT NULL,
	[Fecha] [date] NULL,
	[id_cliente] [int] NULL,
	[id_detalle] [int] NULL,
	[id_Trab] [int] NULL,
 CONSTRAINT [PK_Comprobante] PRIMARY KEY CLUSTERED 
(
	[Id_comprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Detalle_comprobante]    Script Date: 03/02/2022 17:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_comprobante](
	[id_detalle] [int] NOT NULL,
	[id_servicio] [int] NULL,
	[id_producto] [int] NULL,
	[cantidad] [int] NULL,
	[subtotal] [decimal](18, 2) NULL,
	[igv] [decimal](18, 2) NULL,
	[total] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Detalle_comprobante] PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Detalle_Producto]    Script Date: 03/02/2022 17:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Detalle_Producto](
	[Id_Detalle_Producto] [int] NOT NULL,
	[Guia_Proveedor] [varchar](20) NULL,
	[Lote] [varchar](50) NULL,
	[estado_prod] [nchar](10) NULL,
	[fecha_vencimiento] [date] NULL,
	[fecha_produccion] [date] NULL,
	[Id_proveedor] [int] NULL,
	[id_producto] [int] NULL,
 CONSTRAINT [PK_Detalle_Producto] PRIMARY KEY CLUSTERED 
(
	[Id_Detalle_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 03/02/2022 17:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Productos](
	[Id_producto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Producto] [varchar](250) NULL,
	[Precio_venta] [decimal](18, 2) NULL,
	[fecha_vencimiento] [date] NULL,
	[comentarios] [varchar](250) NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[Id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 03/02/2022 17:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Proveedor](
	[Id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[Nom_proveedor] [varchar](50) NULL,
	[Dir_proveedor] [varchar](250) NULL,
	[Tipo_proveedor] [int] NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[Id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Servicio]    Script Date: 03/02/2022 17:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Servicio](
	[Id_servicio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_serv] [varchar](50) NULL,
	[Precio_serv] [decimal](18, 2) NULL,
	[Descripcion_serv] [varchar](250) NULL,
	[Id_tipo] [int] NULL,
 CONSTRAINT [PK_Servicio] PRIMARY KEY CLUSTERED 
(
	[Id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tipo_servicio]    Script Date: 03/02/2022 17:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tipo_servicio](
	[Id_tipo] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Comentario] [varchar](250) NULL,
 CONSTRAINT [PK_Tipo_servicio] PRIMARY KEY CLUSTERED 
(
	[Id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Trabajador]    Script Date: 03/02/2022 17:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Trabajador](
	[Id_trabajador] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_trab] [varchar](50) NULL,
	[Apellido_trab] [varchar](50) NULL,
	[Documento_trab] [varchar](8) NULL,
	[Fecha_nacimiento] [date] NULL,
	[Direccion_trab] [varchar](50) NULL,
	[Area_trab] [varchar](50) NULL,
 CONSTRAINT [PK_Trabajador] PRIMARY KEY CLUSTERED 
(
	[Id_trabajador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([Id_cliente], [Nombre_clien], [Apellido_clien], [Num_doc], [Direccion_cliente], [E-mail_clien], [Tel_Clien], [Estado_Civil], [edad], [Sexo]) VALUES (9, N'ADRIANA CAROLINA', N'HERNANDEZ MONTERROZA', N'72915335', N'Calle 10 5-51', N'LoisVMiller@fleckens.hu', N'961063566', N'soltera   ', 19, N'1')
INSERT [dbo].[Cliente] ([Id_cliente], [Nombre_clien], [Apellido_clien], [Num_doc], [Direccion_cliente], [E-mail_clien], [Tel_Clien], [Estado_Civil], [edad], [Sexo]) VALUES (10, N'ADRIANA MARCELA', N'REY SANCHEZ', N'71808457', N'Calle 53 No 10-60/46, Piso 2.', N'CristieISaenz@teleworm.us', N'985102548', N'casado    ', 19, N'1')
INSERT [dbo].[Cliente] ([Id_cliente], [Nombre_clien], [Apellido_clien], [Num_doc], [Direccion_cliente], [E-mail_clien], [Tel_Clien], [Estado_Civil], [edad], [Sexo]) VALUES (11, N'ADRIANA MARCELA', N'REY SANCHEZ', N'71808457', N'Calle 53 No 10-60/46, Piso 2.', N'CristieISaenz@teleworm.us', N'985102548', N'casado    ', 18, N'1')
GO
SET IDENTITY_INSERT [dbo].[Cliente] OFF
INSERT [dbo].[Comprobante] ([Id_comprobante], [Fecha], [id_cliente], [id_detalle], [id_Trab]) VALUES (1, CAST(N'2018-04-15' AS Date), 9, 1, 1)
INSERT [dbo].[Comprobante] ([Id_comprobante], [Fecha], [id_cliente], [id_detalle], [id_Trab]) VALUES (2, CAST(N'2020-12-15' AS Date), 10, 2, 10)
INSERT [dbo].[Comprobante] ([Id_comprobante], [Fecha], [id_cliente], [id_detalle], [id_Trab]) VALUES (3, CAST(N'2021-11-01' AS Date), 11, 3, 11)
GO
INSERT [dbo].[Detalle_comprobante] ([id_detalle], [id_servicio], [id_producto], [cantidad], [subtotal], [igv], [total]) VALUES (1, 9, NULL, 2, CAST(50.85 AS Decimal(18, 2)), CAST(9.15 AS Decimal(18, 2)), CAST(60.00 AS Decimal(18, 2)))
INSERT [dbo].[Detalle_comprobante] ([id_detalle], [id_servicio], [id_producto], [cantidad], [subtotal], [igv], [total]) VALUES (2, 16, NULL, 2, CAST(33.90 AS Decimal(18, 2)), CAST(6.10 AS Decimal(18, 2)), CAST(40.00 AS Decimal(18, 2)))
INSERT [dbo].[Detalle_comprobante] ([id_detalle], [id_servicio], [id_producto], [cantidad], [subtotal], [igv], [total]) VALUES (3, 17, NULL, 1, CAST(12.71 AS Decimal(18, 2)), CAST(2.29 AS Decimal(18, 2)), CAST(15.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id_producto], [Nombre_Producto], [Precio_venta], [fecha_vencimiento], [comentarios]) VALUES (1, N'Laca Elegance Ecológica Liheto 380ml', CAST(24.00 AS Decimal(18, 2)), CAST(N'2022-12-20' AS Date), N'-')
INSERT [dbo].[Productos] ([Id_producto], [Nombre_Producto], [Precio_venta], [fecha_vencimiento], [comentarios]) VALUES (2, N'Laca Angolac Triple Fuerte Liheto 750ml', CAST(22.50 AS Decimal(18, 2)), CAST(N'2023-06-09' AS Date), N'-')
INSERT [dbo].[Productos] ([Id_producto], [Nombre_Producto], [Precio_venta], [fecha_vencimiento], [comentarios]) VALUES (3, N'Champú Liheto Neutro 1000ml', CAST(12.00 AS Decimal(18, 2)), CAST(N'2022-05-05' AS Date), N'-')
SET IDENTITY_INSERT [dbo].[Productos] OFF
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([Id_proveedor], [Nom_proveedor], [Dir_proveedor], [Tipo_proveedor]) VALUES (1, N'Esika', N'Bogota', 2)
INSERT [dbo].[Proveedor] ([Id_proveedor], [Nom_proveedor], [Dir_proveedor], [Tipo_proveedor]) VALUES (2, N'Avon', N'Lima zona comercio', 2)
INSERT [dbo].[Proveedor] ([Id_proveedor], [Nom_proveedor], [Dir_proveedor], [Tipo_proveedor]) VALUES (3, N'nature', N'lima san isidro', 2)
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
SET IDENTITY_INSERT [dbo].[Servicio] ON 

INSERT [dbo].[Servicio] ([Id_servicio], [Nombre_serv], [Precio_serv], [Descripcion_serv], [Id_tipo]) VALUES (9, N'Corte de dama ', CAST(30.00 AS Decimal(18, 2)), NULL, 1)
INSERT [dbo].[Servicio] ([Id_servicio], [Nombre_serv], [Precio_serv], [Descripcion_serv], [Id_tipo]) VALUES (16, N'Corte de Caballero', CAST(20.00 AS Decimal(18, 2)), NULL, 2)
INSERT [dbo].[Servicio] ([Id_servicio], [Nombre_serv], [Precio_serv], [Descripcion_serv], [Id_tipo]) VALUES (17, N'Corte de niño o niña', CAST(15.00 AS Decimal(18, 2)), NULL, 3)
SET IDENTITY_INSERT [dbo].[Servicio] OFF
INSERT [dbo].[Tipo_servicio] ([Id_tipo], [Nombre], [Comentario]) VALUES (1, N'Corte de Cabello varon ', N'-')
INSERT [dbo].[Tipo_servicio] ([Id_tipo], [Nombre], [Comentario]) VALUES (2, N'Corte de cabello mujer', N'-')
INSERT [dbo].[Tipo_servicio] ([Id_tipo], [Nombre], [Comentario]) VALUES (3, N'Corte de cabello Niños', N'-')
SET IDENTITY_INSERT [dbo].[Trabajador] ON 

INSERT [dbo].[Trabajador] ([Id_trabajador], [Nombre_trab], [Apellido_trab], [Documento_trab], [Fecha_nacimiento], [Direccion_trab], [Area_trab]) VALUES (1, N'oscar andres', N'moran seminario', N'71082383', CAST(N'2000-06-18' AS Date), N'urb. monterrico', N'2')
INSERT [dbo].[Trabajador] ([Id_trabajador], [Nombre_trab], [Apellido_trab], [Documento_trab], [Fecha_nacimiento], [Direccion_trab], [Area_trab]) VALUES (10, N'Mario ', N'Hurtado Pintado', N'73631212', CAST(N'1995-05-08' AS Date), N'Av.Loreto N 345', N'3')
INSERT [dbo].[Trabajador] ([Id_trabajador], [Nombre_trab], [Apellido_trab], [Documento_trab], [Fecha_nacimiento], [Direccion_trab], [Area_trab]) VALUES (11, N'Fatima Andrea', N'Rosas Gutierrez', N'71207245', CAST(N'1999-09-02' AS Date), N'Centro de madrigueras', N'3')
SET IDENTITY_INSERT [dbo].[Trabajador] OFF
ALTER TABLE [dbo].[Comprobante]  WITH CHECK ADD  CONSTRAINT [FK_Comprobante_Cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([Id_cliente])
GO
ALTER TABLE [dbo].[Comprobante] CHECK CONSTRAINT [FK_Comprobante_Cliente]
GO
ALTER TABLE [dbo].[Comprobante]  WITH CHECK ADD  CONSTRAINT [FK_Comprobante_Detalle_comprobante] FOREIGN KEY([id_detalle])
REFERENCES [dbo].[Detalle_comprobante] ([id_detalle])
GO
ALTER TABLE [dbo].[Comprobante] CHECK CONSTRAINT [FK_Comprobante_Detalle_comprobante]
GO
ALTER TABLE [dbo].[Comprobante]  WITH CHECK ADD  CONSTRAINT [FK_Comprobante_Trabajador] FOREIGN KEY([id_Trab])
REFERENCES [dbo].[Trabajador] ([Id_trabajador])
GO
ALTER TABLE [dbo].[Comprobante] CHECK CONSTRAINT [FK_Comprobante_Trabajador]
GO
ALTER TABLE [dbo].[Detalle_comprobante]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_comprobante_Productos1] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([Id_producto])
GO
ALTER TABLE [dbo].[Detalle_comprobante] CHECK CONSTRAINT [FK_Detalle_comprobante_Productos1]
GO
ALTER TABLE [dbo].[Detalle_comprobante]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_comprobante_Servicio] FOREIGN KEY([id_servicio])
REFERENCES [dbo].[Servicio] ([Id_servicio])
GO
ALTER TABLE [dbo].[Detalle_comprobante] CHECK CONSTRAINT [FK_Detalle_comprobante_Servicio]
GO
ALTER TABLE [dbo].[Servicio]  WITH CHECK ADD  CONSTRAINT [FK_Servicio_Tipo_servicio] FOREIGN KEY([Id_tipo])
REFERENCES [dbo].[Tipo_servicio] ([Id_tipo])
GO
ALTER TABLE [dbo].[Servicio] CHECK CONSTRAINT [FK_Servicio_Tipo_servicio]
GO
USE [master]
GO
